.vscode
/data/olist_sellers_dataset.csv
/data/olist_geolocation_dataset.csv
/data/olist_order_items_dataset.csv
/data/olist_order_payments_dataset.csv
/data/olist_orders_dataset.csv
/data/olist_products_dataset.csv
/data/product_category_name_translation.csv